{% extends "base.html" %}
<!-- Navbar Starts Here -->
{% block navHeader %}Apartments{% endblock %}
<!-- Navbar Ends Here -->

<!-- Main Content Starts Here -->
{% block pageContent %}
<div class="container-fluid px-4">
    <div class="row g-3 my-2">
        <div class="col-lg-6 primary-text">
            <h1 class="display-6">
                <span class="fw-bold">{{ house.house_name }}</span>
            </h1>
        </div>
        <div class="col-lg-6 d-flex justify-content-center row g-3 pb-3">
            <button
                type="button"
                class="col-lg-4 mx-4 btn btn-md user-card-btns"
                data-bs-toggle="modal"
                data-bs-target="#add_house"
            >
                <i class="fas fa-building"></i> Add Apartment
            </button>

            <div
                class="modal fade"
                id="add_house"
                tabindex="-1"
                aria-labelledby="add_house_label"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_house_label">
                                Add Apartment
                            </h5>

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="apt_no" class="form-label"
                                        >Apartment No</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="apt_no"
                                        name="apt_no"
                                        aria-describedby="apartmentNo"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="room_type" class="form-label"
                                        >Apartment Type</label
                                    >
                                    <select
                                        class="form-select"
                                        aria-label="Select type of room"
                                        name="room_type"
                                    >
                                        <option selected>
                                            Select Room Type
                                        </option>
                                        <option value="Single Room">
                                            Single Room
                                        </option>
                                        <option value="Bedsitter">
                                            Bedsitter
                                        </option>
                                        <option value="1 Bedroom">
                                            1 Bedroom
                                        </option>
                                        <option value="2 Bedroom">
                                            2 Bedroom
                                        </option>
                                        <option value="3 Bedroom">
                                            3 Bedroom
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="rent" class="form-label"
                                        >Rent Amount</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="rent"
                                        name="rent"
                                        aria-describedby="rentAmount"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="btn user-card-btns"
                                    name="add_house_button"
                                >
                                    Add Apartment
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Second Button -->

            <button
                type="button"
                class="col-lg-4 mx-4 btn btn-danger btn-md"
                data-bs-toggle="modal"
                data-bs-target="#delete_apartments"
            >
                <i class="fas fa-building"></i> Delete All
            </button>

            <div
                class="modal fade"
                id="delete_apartments"
                tabindex="-1"
                aria-labelledby="delete_all_apartments"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete_all_apartments">
                                Are you sure you want to delete all?
                            </h5>

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="submit"
                                class="btn btn-danger"
                                data-bs-dismiss="modal"
                                onclick="deleteAllAptms();"
                            >
                                Yes
                            </button>
                            <button
                                type="button"
                                class="btn btn-success"
                                data-bs-dismiss="modal"
                            >
                                No
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Content -->

    <div class="container-fluid p-0">
        <div class="row g-2">
            {% if apartments %} {% for apartment in apartments %}
            <div class="col mb-3">
                <div class="card house-card" style="width: 18rem">
                    <img
                        class="card-img-top"
                        src="/static/images/aptmt.jpg"
                        alt="Card image cap"
                    />
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            Apartment {{ apartment.apt_no }}
                        </h5>
                        <p class="card-text">
                            <span class="fw-bold">Apartment Type:</span> {{
                            apartment.room_type }}
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Rent Amount:</span> {{
                            apartment.rent }}
                        </p>
                        {% if apartment.apt_tenant %}
                        <p class="card-text">
                            <span class="fw-bold">Tenant: </span> {{
                            apartment.apt_tenant[0].first_name }} {{
                            apartment.apt_tenant[0].last_name }}
                        </p>
                        <div
                            class="d-flex align-items-center justify-content-between"
                        >
                            <a href="#" class="btn btn-sm user-card-btns"
                                >Remove Tenant</a
                            >
                            <button class="btn btn-sm btn-danger">
                                Delete House
                            </button>
                        </div>
                        {% else %}
                        <p class="card-text">
                            <span class="fw-bold">Tenants:</span> Not Assigned
                        </p>
                        <div
                            class="d-flex align-items-center justify-content-between"
                        >
                            <a href="#" class="btn btn-sm user-card-btns"
                                >Add Tenant</a
                            >
                            <button class="btn btn-sm btn-danger">
                                Delete Apartment
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <div align="center" class="container-fluid px-4">
                <img src="/static/images/chilling.png" alt="" />
                <h1 class="primary-text fw-bold">No Apartments</h1>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    function deleteAllAptms() {
        fetch("/delete", {
            method: "POST",
        }).then((_res) => {
            window.location.href = "/houses/apartments";
        });
    }
</script>
{% endblock %}
<!-- Main Content Ends Here -->
