{% extends "base.html" %}
<!-- Navbar Starts Here -->
{% block navHeader %}Apartments{% endblock %}
<!-- Navbar Ends Here -->

<!-- Main Content Starts Here -->
{% block pageContent %}
<div class="container-fluid px-4">
    <div class="row g-3 my-2">
        <div class="col-lg-6 primary-text">
            <h1 class="display-6">
                <span class="fw-bold">{{ house.house_name }}</span>
            </h1>
        </div>
        <div class="col-lg-6 d-flex justify-content-center row g-3 pb-3">
            <button
                type="button"
                class="col-lg-4 mx-4 btn btn-md user-card-btns"
                data-bs-toggle="modal"
                data-bs-target="#add_house"
            >
                <i class="fas fa-house"></i> Add Apartment
            </button>

            <div
                class="modal fade"
                id="add_house"
                tabindex="-1"
                aria-labelledby="add_house_label"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_house_label">
                                Add House
                            </h5>

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="house_name" class="form-label"
                                        >New House Name</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="house_name"
                                        name="house_name"
                                        aria-describedby="houseName"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="btn user-card-btns"
                                    name="add_house_button"
                                >
                                    Add House
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <button
                type="button"
                class="col-lg-4 mx-4 btn btn-md user-card-btns"
                data-bs-toggle="modal"
                data-bs-target="#add_tenant"
            >
                <i class="fas fa-people-roof"></i>
                Add Tenant
            </button>

            <!-- Modal Add Tenant Trial -->
            <div
                class="modal fade"
                id="add_tenant"
                tabindex="-1"
                aria-labelledby="add_tenant_label"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_tenant_label">
                                Add Tenant
                            </h5>

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="first_name" class="form-label"
                                        >First Name</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="first_name"
                                        name="first_name"
                                        aria-describedby="firstName"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="last_name" class="form-label"
                                        >Last Name</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="last_name"
                                        name="last_name"
                                        aria-describedby="lastName"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="btn user-card-btns"
                                    name="add_tenant_button"
                                >
                                    Add Tenant
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of Content -->
<div class="container-fluid px-4">
    <div class="row g-2">
        {% if apartments %} {% for apartment in apartments %}
        <div class="col mb-3">
            <div class="card house-card" style="width: 18rem">
                <img
                    class="card-img-top"
                    src="/static/images/house_asset.jpg"
                    alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title mb-3">
                        Apartment {{ apartment.apt_no }}
                    </h5>
                    <p class="card-text">
                        <span class="fw-bold">Apartment Type:</span> {{
                        apartment.room_type }}
                    </p>
                    <p class="card-text">
                        <span class="fw-bold">Rent Amount:</span> {{
                        apartment.rent }}
                    </p>
                    {% if apartment.apt_tenant %}
                    <p class="card-text">
                        <span class="fw-bold">Tenant: </span> {{
                        apartment.apt_tenant[0].first_name }} {{
                        apartment.apt_tenant[0].last_name }}
                    </p>
                    <div
                        class="d-flex align-items-center justify-content-between"
                    >
                        <a href="#" class="btn btn-sm user-card-btns"
                            >Remove Tenant</a
                        >
                        <button class="btn btn-sm btn-danger">
                            Delete House
                        </button>
                    </div>
                    {% else %}
                    <p class="card-text">
                        <span class="fw-bold">Tenants:</span> Not Assigned
                    </p>
                    <div
                        class="d-flex align-items-center justify-content-between"
                    >
                        <a href="#" class="btn btn-sm user-card-btns"
                            >Add Tenant</a
                        >
                        <button class="btn btn-sm btn-danger">
                            Delete Apartment
                        </button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <div align="center" class="container-fluid px-4">
            <img src="/static/images/chilling.png" alt="" />
            <h1 class="primary-text fw-bold">{{ apartments }}</h1>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
<!-- Main Content Ends Here -->
