{% extends "base.html" %}
<!-- Navbar Starts Here -->
{% block navHeader %}Apartments{% endblock %}
<!-- Navbar Ends Here -->

<!-- Main Content Starts Here -->
{% block pageContent %}
<div class="container-fluid px-4">
    <div class="row g- my-2 d-flex justify-content-between">
        <div class="col-lg-4 my-2 primary-text">
            <h1 class="display-6">
                <span class="fw-bold">{{ house.house_name }}</span>
            </h1>
        </div>
        <div class="col-lg-6 row g-2 pb-3 d-flex justify-content-between">
            <!-- Generate Button Starts Here -->
            <button
                type="button"
                class="col-lg-3 mx-2 btn btn-md user-card-btns"
                data-bs-toggle="modal"
                data-bs-target="#gen_apts"
            >
                <i class="fas fa-building"></i> Generate
            </button>
            <!-- Generate Modal Starts Here -->
            <div
                class="modal fade"
                id="gen_apts"
                tabindex="-1"
                aria-labelledby="gen_apts_label"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="gen_apts_label">
                                Generate Apartments
                            </h5>

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="no_of_apts" class="form-label"
                                        >Number of Apartments</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="no_of_apts"
                                        name="no_of_apts"
                                        aria-describedby="noOfApartments"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="room_type1" class="form-label"
                                        >Apartment Type 1</label
                                    >
                                    <select
                                        class="form-select"
                                        aria-label="Select type of room"
                                        name="room_type1"
                                    >
                                        <option selected>
                                            Select Room Type
                                        </option>
                                        <option value="Single Room">
                                            Single Room
                                        </option>
                                        <option value="Bedsitter">
                                            Bedsitter
                                        </option>
                                        <option value="1 Bedroom">
                                            1 Bedroom
                                        </option>
                                        <option value="2 Bedroom">
                                            2 Bedroom
                                        </option>
                                        <option value="3 Bedroom">
                                            3 Bedroom
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="apt1_rent" class="form-label"
                                        >Apartment 1 Rent Amount</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="apt1_rent"
                                        name="apt1_rent"
                                        aria-describedby="apartment1RentAmount"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="room_type2" class="form-label"
                                        >Apartment Type 2</label
                                    >
                                    <select
                                        class="form-select"
                                        aria-label="Select type of room"
                                        name="room_type2"
                                    >
                                        <option selected>
                                            Select Room Type
                                        </option>
                                        <option value="Single Room">
                                            Single Room
                                        </option>
                                        <option value="Bedsitter">
                                            Bedsitter
                                        </option>
                                        <option value="1 Bedroom">
                                            1 Bedroom
                                        </option>
                                        <option value="2 Bedroom">
                                            2 Bedroom
                                        </option>
                                        <option value="3 Bedroom">
                                            3 Bedroom
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="apt2_rent" class="form-label"
                                        >Apartment 2 Rent Amount</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="apt2_rent"
                                        name="apt2_rent"
                                        aria-describedby="apartment2RentAmount"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="room_type3" class="form-label"
                                        >Apartment Type 3</label
                                    >
                                    <select
                                        class="form-select"
                                        aria-label="Select type of room"
                                        name="room_type3"
                                    >
                                        <option selected>
                                            Select Room Type
                                        </option>
                                        <option value="Single Room">
                                            Single Room
                                        </option>
                                        <option value="Bedsitter">
                                            Bedsitter
                                        </option>
                                        <option value="1 Bedroom">
                                            1 Bedroom
                                        </option>
                                        <option value="2 Bedroom">
                                            2 Bedroom
                                        </option>
                                        <option value="3 Bedroom">
                                            3 Bedroom
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="apt3_rent" class="form-label"
                                        >Apartment 3 Rent Amount</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="apt3_rent"
                                        name="apt3_rent"
                                        aria-describedby="apartment3RentAmount"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="btn user-card-btns"
                                    name="gen_apt_button"
                                >
                                    Generate Apartments
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Generate Buttons Ends Here -->

            <!-- Add Apartment Button Starts Here -->
            <button
                type="button"
                class="col-lg-3 mx-2 btn btn-md user-card-btns"
                data-bs-toggle="modal"
                data-bs-target="#add_apt"
            >
                <i class="fas fa-building"></i> Add Apartment
            </button>
            <!-- Add Apt Modal Starts Here -->
            <div
                class="modal fade"
                id="add_apt"
                tabindex="-1"
                aria-labelledby="add_apt_label"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_apt_label">
                                Add Apartment
                            </h5>

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="apt_no" class="form-label"
                                        >Apartment No</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="apt_no"
                                        name="apt_no"
                                        aria-describedby="apartmentNo"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="room_type" class="form-label"
                                        >Apartment Type</label
                                    >
                                    <select
                                        class="form-select"
                                        aria-label="Select type of room"
                                        name="room_type"
                                    >
                                        <option selected>
                                            Select Room Type
                                        </option>
                                        <option value="Single Room">
                                            Single Room
                                        </option>
                                        <option value="Bedsitter">
                                            Bedsitter
                                        </option>
                                        <option value="1 Bedroom">
                                            1 Bedroom
                                        </option>
                                        <option value="2 Bedroom">
                                            2 Bedroom
                                        </option>
                                        <option value="3 Bedroom">
                                            3 Bedroom
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="rent" class="form-label"
                                        >Rent Amount</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="rent"
                                        name="rent"
                                        aria-describedby="rentAmount"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="btn user-card-btns"
                                    name="add_apartment_button"
                                >
                                    Add Apartment
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Apartment Button Ends Here -->

            <!-- Delete Apartment Button Starts Here -->

            <button
                type="button"
                class="col-lg-3 mx-2 btn btn-danger btn-md"
                data-bs-toggle="modal"
                data-bs-target="#delete_apartments"
            >
                <i class="fas fa-building"></i> Delete All
            </button>
            <!-- Delete Modal Starts Here -->
            <div
                class="modal fade"
                id="delete_apartments"
                tabindex="-1"
                aria-labelledby="delete_all_apartments"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete_all_apartments">
                                Are you sure you want to delete all?
                            </h5>

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="submit"
                                class="btn btn-danger"
                                data-bs-dismiss="modal"
                                onclick="deleteAllAptms();"
                            >
                                Yes
                            </button>
                            <button
                                type="button"
                                class="btn btn-success"
                                data-bs-dismiss="modal"
                            >
                                No
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete Apartment Button Starts Here -->
        </div>
    </div>
    <!-- End of Content -->

    <div class="container-fluid p-0">
        <div class="row g-2">
            {% if apartments %} {% for apartment in apartments %}

            <div class="col mb-3">
                <div class="card house-card" style="width: 18rem">
                    <img
                        class="card-img-top"
                        src="/static/images/aptmt.jpg"
                        alt="Card image cap"
                    />
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            Apartment {{ apartment.apt_no }}
                        </h5>
                        <p class="card-text">
                            <span class="fw-bold">Apartment Type:</span>
                            {{ apartment.room_type }}
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Rent Amount:</span>
                            {{ apartment.rent }}
                        </p>
                        {% if apartment.apt_tenant %}
                        <p class="card-text">
                            <span class="fw-bold">Tenant: </span> {{
                            apartment.apt_tenant[0].first_name }} {{
                            apartment.apt_tenant[0].last_name }}
                        </p>
                        <div
                            class="d-flex align-items-center justify-content-between"
                        >
                            <button
                                type="button"
                                class="btn btn-sm user-card-btns"
                                data-bs-toggle="modal"
                                data-bs-target="#{{ apartment.apt_no }}"
                            >
                                Remove Tenant
                            </button>

                            <!-- Remove Tenant Modal Starts Here -->
                            <div
                                class="modal fade"
                                id="{{ apartment.apt_no }}"
                                tabindex="-1"
                                aria-labelledby="remove_tenant"
                                aria-hidden="true"
                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5
                                                class="modal-title"
                                                id="remove_tenant"
                                            >
                                                Are you sure you want to remove
                                                <span class="text-danger"
                                                    >{{
                                                    apartment.apt_tenant[0].first_name
                                                    }} {{
                                                    apartment.apt_tenant[0].last_name
                                                    }}</span
                                                >
                                                from the apartment?
                                            </h5>

                                            <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                            ></button>
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="submit"
                                                class="btn btn-danger"
                                                data-bs-dismiss="modal"
                                                onclick="removeTenant('{{ apartment.id }}');"
                                            >
                                                Yes
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-success"
                                                data-bs-dismiss="modal"
                                            >
                                                No
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <button
                                class="btn btn-sm btn-danger"
                                onclick="deleteApt('{{ apartment.id }}')"
                            >
                                Delete Apartment
                            </button>
                        </div>
                        {% else %}
                        <p class="card-text">
                            <span class="fw-bold">Tenants:</span>
                            Not Assigned
                        </p>
                        <div
                            class="d-flex align-items-center justify-content-between"
                        >
                            <button
                                type="button"
                                class="btn btn-sm user-card-btns"
                                data-bs-toggle="modal"
                                data-bs-target="#assign_tenant"
                            >
                                Assign Tenant
                            </button>
                            <!-- Add Tenant Modal Starts Here -->
                            <div
                                class="modal fade"
                                id="assign_tenant"
                                tabindex="-1"
                                aria-labelledby="assign_tenant_label"
                                aria-hidden="true"
                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5
                                                class="modal-title"
                                                id="assign_tenant_label"
                                            >
                                                Assign Tenant
                                            </h5>

                                            <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                            ></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST">
                                                <div class="mb-3">
                                                    <label
                                                        for="tenant"
                                                        class="form-label"
                                                        >Select Tenant</label
                                                    >
                                                    <select
                                                        class="form-select"
                                                        aria-label="Select Tenant"
                                                        name="tenant"
                                                    >
                                                        <option selected>
                                                            Select Tenant
                                                        </option>
                                                        {% if
                                                        current_user.tenants %}
                                                        {% for tenant in
                                                        current_user.tenants %}
                                                        {% if not
                                                        tenant.apartments %}
                                                        <option
                                                            value="{{ tenant.id + '.' + apartment.id }}"
                                                        >
                                                            {{ tenant.first_name
                                                            }} {{
                                                            tenant.last_name }}
                                                        </option>
                                                        {% endif %} {% endfor %}
                                                        {% endif %}
                                                    </select>
                                                </div>
                                                <button
                                                    type="submit"
                                                    class="btn user-card-btns"
                                                    name="assign_tenant_btn"
                                                >
                                                    Assign
                                                </button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                            >
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Tenant Modal Ends Here -->
                            <button
                                class="btn btn-sm btn-danger"
                                onclick="deleteApt('{{ apartment.id }}')"
                            >
                                Delete Apartment
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <div align="center" class="container-fluid px-4">
                <img
                    width="500px"
                    height="500px"
                    src="/static/images/panic.png"
                    alt=""
                />
                <h1 class="primary-text fw-bold">No Apartments Found!</h1>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- Main Content Ends Here -->
<script>
    function deleteAllAptms() {
        fetch("/delete-all-apt", {
            method: "POST",
        }).then((_res) => {
            window.location.href = "/houses/apartments";
        });
    }
</script>
<script>
    function deleteApt(apt_id) {
        fetch("/delete-apt", {
            method: "POST",
            body: JSON.stringify({ apt_id: apt_id }),
        }).then((_res) => {
            window.location.href = "/houses/apartments";
        });
    }
</script>
<script>
    function removeTenant(apt_id) {
        fetch("/remove_tenant", {
            method: "POST",
            body: JSON.stringify({ apt_id: apt_id }),
        }).then((_res) => {
            window.location.href = "/houses/apartments";
        });
    }
</script>
{% endblock %}
