{% extends "base.html" %}
<!-- Navbar Starts Here -->
{% block navHeader %}Dashboard{% endblock %}
<!-- Navbar Ends Here -->

<!-- Main Content Starts Here -->
{% block pageContent %}
<div class="container-fluid px-4">
    <div class="row g-3 my-2">
        <div class="col-lg-4 primary-text">
            <h1 class="display-6">
                Welcome back,
                <span class="fw-bold">{{ landlord.first_name }}</span>
            </h1>
        </div>
        <div class="col-lg-4 d-flex justify-content-center row g-3">
            <button
                type="button"
                class="col-lg-4 mx-4 btn btn-md user-card-btns"
                data-bs-toggle="modal"
                data-bs-target="#add_house"
            >
                <i class="fas fa-house"></i> Add House
            </button>

            <!-- Modal Add House Trial -->
            <div
                class="modal fade"
                id="add_house"
                tabindex="-1"
                aria-labelledby="add_house_label"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_house_label">
                                Add House
                            </h5>

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="house_name" class="form-label"
                                        >New House Name</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="house_name"
                                        name="house_name"
                                        aria-describedby="houseName"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="btn user-card-btns"
                                    name="add_house_button"
                                >
                                    Add House
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <button
                type="button"
                class="col-lg-4 mx-4 btn btn-md user-card-btns"
                data-bs-toggle="modal"
                data-bs-target="#add_tenant"
            >
                <i class="fas fa-people-roof"></i>
                Add Tenant
            </button>

            <!-- Modal Add Tenant Trial -->
            <div
                class="modal fade"
                id="add_tenant"
                tabindex="-1"
                aria-labelledby="add_tenant_label"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_tenant_label">
                                Add Tenant
                            </h5>

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="first_name" class="form-label"
                                        >First Name</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="first_name"
                                        name="first_name"
                                        aria-describedby="firstName"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="last_name" class="form-label"
                                        >Last Name</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="last_name"
                                        name="last_name"
                                        aria-describedby="lastName"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="btn user-card-btns"
                                    name="add_tenant_button"
                                >
                                    Add Tenant
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center row g-3">
            <button
                type="button"
                class="btn btn-md user-card-btns col-lg-4 mx-4"
                onclick="window.location.href='/messages';"
            >
                <i></i> Messages
                <span class="badge">4</span>
            </button>
        </div>
    </div>
</div>
<div class="container-fluid px-4 py-4">
    <div class="row g-3 my-2">
        <div class="col-lg-4">
            <div
                class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
            >
                <h3 class="fs-2 primary-text">{{ landlord.houses|length }}</h3>
                <p class="fs-5 primary-text">Houses</p>
                <i
                    class="fas fa-house fs-1 primary-text border rounded-full secondary-bg p-3"
                ></i>
            </div>
        </div>
        <div class="col-lg-4">
            <div
                class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
            >
                <h3 class="fs-2 primary-text">{{ landlord.tenants|length }}</h3>
                <p class="fs-5 primary-text">Tenants</p>
                <i
                    class="fas fa-people-roof fs-1 primary-text border rounded-full secondary-bg p-3"
                ></i>
            </div>
        </div>
        <div class="col-lg-4">
            <div
                class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded"
            >
                <h3 class="fs-2 primary-text">80</h3>
                <p class="fs-5 primary-text">Rent Paid</p>
                <i
                    class="fas fa-money-bill fs-1 primary-text border rounded-full secondary-bg p-3"
                ></i>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid px-4 py-4">
    <table class="table primary-text">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">House</th>
                <th scope="col">Apartment</th>
                <th scope="col">Tenant</th>
                <th scope="col">Rent Paid</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">12/02/2023</th>
                <td>Hemmingways Apartments</td>
                <td>D16</td>
                <td>Robert Ouya</td>
                <td>12500</td>
            </tr>
            <tr>
                <th scope="row">12/02/2023</th>
                <td>Eastern Flats</td>
                <td>D2</td>
                <td>Patricia Wamaitha</td>
                <td>16000</td>
            </tr>
            <tr>
                <th scope="row">12/02/2023</th>
                <td>Sakaja Heights</td>
                <td>D7</td>
                <td>Gachagua Rigathi</td>
                <td>34000</td>
            </tr>
            <tr>
                <th scope="row">12/02/2023</th>
                <td>Soft Life Housing</td>
                <td>D5</td>
                <td>Edian Mwambaye</td>
                <td>12500</td>
            </tr>
            <tr>
                <th scope="row">12/02/2023</th>
                <td>Stima Shida Apartments</td>
                <td>D25</td>
                <td>Robert Ouya</td>
                <td>5500</td>
            </tr>
            <tr>
                <th scope="row">12/02/2023</th>
                <td>Hemmingways Apartments</td>
                <td>D1</td>
                <td>Solomon Wanaina</td>
                <td>18000</td>
            </tr>
            <tr>
                <th scope="row">12/02/2023</th>
                <td>Soft Life Housing</td>
                <td>D3</td>
                <td>Babu Notowino</td>
                <td>22000</td>
            </tr>
            <tr>
                <th scope="row">12/02/2023</th>
                <td>Eastern Flats</td>
                <td>D11</td>
                <td>Snape Lovespotter</td>
                <td>16000</td>
            </tr>
            <tr>
                <th scope="row">12/02/2023</th>
                <td>Stima Shida Apartments</td>
                <td>D22</td>
                <td>Kunguni Kwawingi</td>
                <td>3500</td>
            </tr>
            <tr>
                <th scope="row">12/02/2023</th>
                <td>Nyumba Kumi Housing</td>
                <td>D6</td>
                <td>Baba Atieno</td>
                <td>8500</td>
            </tr>
            <tr>
                <th scope="row">12/02/2023</th>
                <td>Sakaja Heights</td>
                <td>D3</td>
                <td>Ruto Mtutaxing</td>
                <td>45000</td>
            </tr>
            <tr>
                <th scope="row">12/02/2023</th>
                <td>Hemmingways Apartments</td>
                <td>D2</td>
                <td>Silverstor Osoro</td>
                <td>12500</td>
            </tr>
            <tr>
                <th scope="row">12/02/2023</th>
                <td>Sakaja Heights</td>
                <td>D4</td>
                <td>Shaniqwa Ma'ass</td>
                <td>34000</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
<!-- Main Content Ends Here -->
