{% extends "base.html" %}
<!-- Navbar Starts Here -->
{% block navHeader %}Houses{% endblock %}
<!-- Navbar Ends Here -->

<!-- Main Content Starts Here -->
{% block pageContent %}
<div class="container-fluid px-4">
    <div class="row g- my-2 d-flex justify-content-between">
        <div class="col-lg-6 my-2 primary-text">
            <h1 class="display-6">
                <span class="fw-bold">Manage Your Houses</span>
            </h1>
        </div>
        <div class="col-lg-6 row g-2 pb-3 d-flex justify-content-center">
            <!-- Add Apartment Button Starts Here -->
            <button
                type="button"
                class="col-lg-3 mx-2 btn btn-md user-card-btns"
                data-bs-toggle="modal"
                data-bs-target="#add_house"
            >
                <i class="fas fa-house"></i> Add House
            </button>
            <!-- Add Apt Modal Starts Here -->
            <div
                class="modal fade"
                id="add_house"
                tabindex="-1"
                aria-labelledby="add_house_label"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_house_label">
                                Add House
                            </h5>

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="house_name" class="form-label"
                                        >House Name</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="house_name"
                                        name="house_name"
                                        aria-describedby="houseName"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="btn user-card-btns"
                                    name="add_house_button"
                                >
                                    Add House
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Apartment Button Ends Here -->

            <!-- Delete Apartment Button Starts Here -->

            <button
                type="button"
                class="col-lg-3 mx-2 btn btn-danger btn-md"
                data-bs-toggle="modal"
                data-bs-target="#delete_houses"
            >
                <i class="fas fa-house"></i> Delete All
            </button>
            <!-- Delete Modal Starts Here -->
            <div
                class="modal fade"
                id="delete_houses"
                tabindex="-1"
                aria-labelledby="delete_all_houses"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete_all_houses">
                                Are you sure you want to delete all?
                            </h5>

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="submit"
                                class="btn btn-danger"
                                data-bs-dismiss="modal"
                                onclick="deleteAllHouses();"
                            >
                                Yes
                            </button>
                            <button
                                type="button"
                                class="btn btn-success"
                                data-bs-dismiss="modal"
                            >
                                No
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete Apartment Button Starts Here -->
        </div>
    </div>
    <!-- End of Content -->

    <div class="row g-2">
        {% if houses %} {% for house in houses %}
        <div class="col mb-3">
            <div class="card house-card" style="width: 18rem">
                <img
                    class="card-img-top"
                    src="/static/images/house_asset.jpg"
                    alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title mb-3">{{house.house_name}}</h5>
                    <p class="card-text">
                        <span class="fw-bold">Apartments:</span> {{
                        house.apartments|length }}
                    </p>
                    <p class="card-text">
                        <span class="fw-bold">Tenants:</span> {{
                        house.house_tenants() }}
                    </p>
                    <div
                        class="d-flex align-items-center justify-content-between"
                    >
                        <a
                            class="btn user-card-btns"
                            onclick="getHouseId( '{{ house.id }}' )"
                        >
                            Select House
                        </a>
                        <button
                            class="btn btn-danger"
                            onclick="deleteHouse('{{ house.id }}')"
                        >
                            Delete House
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <div align="center" class="container-fluid px-4">
            <img
                width="500px"
                height="500px"
                src="/static/images/panic.png"
                alt=""
            />
            <h1 class="primary-text fw-bold">No Houses Found!</h1>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
<!-- Main Content Ends Here -->
