{% extends "base.html" %}
<!-- Navbar Starts Here -->
{% block navHeader %}Houses{% endblock %}
<!-- Navbar Ends Here -->

<!-- Main Content Starts Here -->
{% block pageContent %}
<div class="container-fluid px-4">
    <div class="row g-2">
        {% if houses %} {% for house in houses %}
        <div class="col mb-3">
            <div class="card house-card" style="width: 18rem">
                <img
                    class="card-img-top"
                    src="/static/images/house_asset.jpg"
                    alt="Card image cap"
                />
                <div class="card-body">
                    <h5 class="card-title mb-3">{{house.house_name}}</h5>
                    <p class="card-text">
                        <span class="fw-bold">Apartments:</span> {{
                        house.apartments|length }}
                    </p>
                    <p class="card-text">
                        <span class="fw-bold">Tenants:</span> 0
                    </p>
                    <div
                        class="d-flex align-items-center justify-content-between"
                    >
                        <a href="#" class="btn user-card-btns">Select House</a>
                        <button class="btn btn-danger">Delete House</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <div align="center" class="container-fluid px-4">
            <img src="/static/images/chilling.png" alt="" />
            <h1 class="primary-text fw-bold">No Houses Found!!</h1>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
<!-- Main Content Ends Here -->
