{% extends "tenant_base.html" %}
<!-- Navbar Starts Here -->
{% block navHeader %}Dashboard{% endblock %}
<!-- Navbar Ends Here -->

<!-- Main Content Starts Here -->
{% block pageContent %}
<div class="container-fluid px-4">
    <div class="row g-3 my-2">
        <div class="col-lg-4 primary-text">
            <h1 class="display-6">
                Welcome back,
                <span class="fw-bold">{{ tenant.first_name }}</span>
            </h1>
        </div>
    </div>
</div>
{% endblock %}
<!-- Main Content Ends Here -->
