{% extends "base.html" %}
<!-- Navbar Starts Here -->
{% block navHeader %}Tenants{% endblock %}
<!-- Navbar Ends Here -->

<!-- Main Content Starts Here -->
{% block pageContent %}
<div class="container-fluid px-4">
    <div class="row g- my-2 d-flex justify-content-between">
        <div class="col-lg-6 my-2 primary-text">
            <h1 class="display-6">
                <span class="fw-bold">Manage Your Tenants</span>
            </h1>
        </div>
        <div class="col-lg-6 row g-2 pb-3 d-flex justify-content-center">
            <!-- Add Apartment Button Starts Here -->
            <button
                type="button"
                class="col-lg-3 mx-2 btn btn-md user-card-btns"
                data-bs-toggle="modal"
                data-bs-target="#add_tenant"
            >
                <i class="fas fa-user"></i> Add Tenant
            </button>
            <!-- Add Apt Modal Starts Here -->
            <div
                class="modal fade"
                id="add_tenant"
                tabindex="-1"
                aria-labelledby="add_tenant_label"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="add_tenant_label">
                                Add Tenant
                            </h5>

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                <div class="mb-3">
                                    <label for="first_name" class="form-label"
                                        >First Name</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="first_name"
                                        name="first_name"
                                        aria-describedby="firstName"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="last_name" class="form-label"
                                        >Last Name</label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="last_name"
                                        name="last_name"
                                        aria-describedby="lastName"
                                    />
                                </div>
                                <button
                                    type="submit"
                                    class="btn user-card-btns"
                                    name="add_tenant_button"
                                >
                                    Add Tenant
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                            >
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Apartment Button Ends Here -->

            <!-- Delete Apartment Button Starts Here -->

            <button
                type="button"
                class="col-lg-3 mx-2 btn btn-danger btn-md"
                data-bs-toggle="modal"
                data-bs-target="#delete_tenants"
            >
                <i class="fas fa-user"></i> Delete All
            </button>
            <!-- Delete Modal Starts Here -->
            <div
                class="modal fade"
                id="delete_tenants"
                tabindex="-1"
                aria-labelledby="delete_all_tenants"
                aria-hidden="true"
            >
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delete_all_tenants">
                                Are you sure you want to delete all?
                            </h5>

                            <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                            ></button>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="submit"
                                class="btn btn-danger"
                                data-bs-dismiss="modal"
                                onclick="deleteAllTenant();"
                            >
                                Yes
                            </button>
                            <button
                                type="button"
                                class="btn btn-success"
                                data-bs-dismiss="modal"
                            >
                                No
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Delete Apartment Button Starts Here -->
        </div>
    </div>
    <!-- End of Content -->

    <div class="container-fluid p-0">
        <div class="row g-2">
            {% if tenants %} {% for tenant in tenants %}
            <div class="col mb-3">
                <div class="card house-card" style="width: 18rem">
                    <img
                        class="card-img-top"
                        src="/static/images/user.jpg"
                        alt="Card image cap"
                    />
                    <div class="card-body">
                        <h5 class="card-title mb-3">
                            {{ tenant.first_name }} {{ tenant.last_name }}
                        </h5>
                        <p class="card-text">
                            <span class="fw-bold">Tenant ID: </span>
                            {{ tenant.tenant_id }}
                        </p>
                        {% if tenant.apartments %}
                        <p class="card-text">
                            <span class="fw-bold">House: </span>
                            {{ tenant.apartments.houses.house_name }}
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Apartment: </span>
                            {{ tenant.apartments.apt_no }}
                        </p>
                        <div
                            class="d-flex align-items-center justify-content-between"
                        >
                            <button
                                type="button"
                                class="btn btn-sm user-card-btns"
                                data-bs-toggle="modal"
                                data-bs-target="#{{ tenant.tenant_id }}"
                            >
                                Unassign Tenant
                            </button>

                            <!-- Remove Tenant Modal Starts Here -->
                            <div
                                class="modal fade"
                                id="{{ tenant.tenant_id }}"
                                tabindex="-1"
                                aria-labelledby="unassign_tenant"
                                aria-hidden="true"
                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5
                                                class="modal-title"
                                                id="unassign_tenant"
                                            >
                                                Are you sure you want to remove
                                                <span class="text-danger"
                                                    >{{ tenant.first_name }} {{
                                                    tenant.last_name }}</span
                                                >
                                                from the apartment?
                                            </h5>

                                            <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                            ></button>
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="submit"
                                                class="btn btn-danger"
                                                data-bs-dismiss="modal"
                                                onclick="removeTenant('{{ tenant.id }}');"
                                            >
                                                Yes
                                            </button>
                                            <button
                                                type="button"
                                                class="btn btn-success"
                                                data-bs-dismiss="modal"
                                            >
                                                No
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button
                                class="btn btn-sm btn-danger"
                                onclick="deleteTenant('{{ tenant.id }}')"
                            >
                                Delete Tenant
                            </button>
                        </div>
                        {% else %}
                        <p class="card-text">
                            <span class="fw-bold">House:</span>
                            Not Assigned
                        </p>
                        <p class="card-text">
                            <span class="fw-bold">Apartment:</span>
                            Not Assigned
                        </p>
                        <div
                            class="d-flex align-items-center justify-content-between"
                        >
                            <button
                                type="button"
                                class="btn btn-sm user-card-btns"
                                data-bs-toggle="modal"
                                data-bs-target="#assign_tenant"
                            >
                                Assign Tenant
                            </button>
                            <div
                                class="modal fade"
                                id="assign_tenant"
                                tabindex="-1"
                                aria-labelledby="assign_tenant_label"
                                aria-hidden="true"
                            >
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5
                                                class="modal-title"
                                                id="assign_tenant_label"
                                            >
                                                Assign Tenant
                                            </h5>

                                            <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                            ></button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST">
                                                <div id="house-select" ="mb-3">
                                                    {% for house in
                                                    current_user.houses %}
                                                    <label
                                                        for="{{ house.house_name
                                                        }}"
                                                        class="form-label fw-bolder"
                                                        >{{ house.house_name
                                                        }}</label
                                                    >
                                                    <select
                                                        class="form-select mb-4"
                                                        aria-label="Select House"
                                                        name="tenant"
                                                        id="{{ house.house_name }}"
                                                        onchange="checkChange('{{ house.house_name}}')"
                                                    >
                                                        <option selected>
                                                            Select Apartment
                                                        </option>
                                                        {% if house.apartments
                                                        %} {% for apartment in
                                                        house.apartments %}
                                                        <option
                                                            value="{{ apartment.id }}"
                                                        >
                                                            {{ apartment.apt_no
                                                            }}
                                                        </option>
                                                        {% endfor %} {% endif %}
                                                    </select>
                                                    {% endfor %}
                                                </div>
                                                <button
                                                    type="submit"
                                                    class="btn user-card-btns"
                                                    name="assign_tenant_btn"
                                                >
                                                    Assign
                                                </button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                            >
                                                Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button
                                class="btn btn-sm btn-danger"
                                onclick="deleteTenant('{{ tenant.id }}')"
                            >
                                Delete Tenant
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <div align="center" class="container-fluid px-4">
                <img
                    width="500px"
                    height="500px"
                    src="/static/images/panic.png"
                    alt=""
                />
                <h1 class="primary-text fw-bold">No Tenants Found!</h1>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    function deleteTenant(tenant_id) {
        fetch("/delete-tenant", {
            method: "POST",
            body: JSON.stringify({ tenant_id: tenant_id }),
        }).then((_res) => {
            window.location.href = "/tenants";
        });
    }
</script>
<script>
    function deleteAllTenant() {
        fetch("/delete-all-tenant", {
            method: "POST",
        }).then((_res) => {
            window.location.href = "/tenants";
        });
    }
</script>
<script>
    function removeTenant(tenant_id) {
        fetch("/remove-tenant", {
            method: "POST",
            body: JSON.stringify({ tenant_id: tenant_id }),
        }).then((_res) => {
            window.location.href = "/tenants";
        });
    }
</script>
<script>
    //function myName() {
    //  console.log("JS ROCKS!");
    //}
    //var selectedDiv = document.getElementById("house-select");
    //console.log(selectedDiv);
    //selects = selectedDiv.getElementsByTagName("select");
    //console.log(selects);
    //for (i = 0; i < selects.length; i++) {
    //for (option in selects[0].options) {
    //  console.log(option.value);
    //   }
    //}
    function checkChange(selectId) {
        let count = 0;
        const selectElDiv = document.getElementById("house-select");

        //const selectOptions = selectEl.getElementsByTagName("option");

        const selectEl = selectElDiv.getElementsByTagName("select");
        const labelEl = selectElDiv.getElementsByTagName("label");

        for (select of selectEl) {
            console.log(select.id);
            console.log(labelEl[count].htmlFor);
            if (select.id === selectId) {
                console.log("They are equal!!");
            }
            if (select.id !== selectId) {
                select.style.display = "none";
            }
            if (labelEl[count].htmlFor !== selectId) {
                labelEl[count].style.display = "none";
            }
            count += 1;
        }
    }

    //console.log(selectEl);
    //console.log(selectOptions);
    //selectEl.addEventListener("change", function handleChange(event) {
    //if (event.target.value != "show") {
    //box.style.display = "block";
    //} else {
    //box.style.display = "none";
    //}
    //});
</script>
{% endblock %}
<!-- Main Content Ends Here -->
