/* my colors */
/* 557A1B */
/* 72B01D */
:root {
    --main-bg-color: #557a1b;
    --main-text-color: #557a1b;
    --second-text-color: #bbbec5;
    --second-bg-color: #9ada40;
    /* --second-bg-color: #c1efde; */
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
        to right,
        #e2fcbd,
        #e4f7c9,
        #e9f8d3,
        #ecf7dc,
        #eff7e4
    );
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -ms-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.user-card-btns {
    background-color: var(--second-bg-color);
    color: var(--main-bg-color);
    border-color: var(--main-bg-color);
}

.user-card-btns:hover {
    background-color: var(--main-bg-color);
    color: var(--second-bg-color);
    border-color: var(--second-bg-color);
}

.table {
    background-color: white;
}
